/* Since shared.css comes before this main.css, hence all the features
   we defined there will come first. That is we defined border-box for
   all elements, therefore we need not have to againe define all those
   features again. All the elements below will be having box-sizing as
   border box */
.background {
    background-image: url('../images/plans-background.jpg');
    background-size: cover;
    background-position: center 0;
    
    /* width: 100%;
    height: 500px; */

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

/* main {
    margin-top: 55px;
} */

.package {
    margin: 60px 0;
    width: 55%;
    border: 3px solid #0e4f1f;
    border-left: none;
    
    position: relative;
}

#package__badge {
    position: absolute;
    top: 0;
    right: 0;

    font-size: 15px;
    margin: 5px;
    color: white;
    background-color: #ff5454;
    padding: 2px 5px;
    cursor: pointer;
}

.package > a {
    display: block;
    text-decoration: none;
    padding: 10px;
}

.package > a > * {
    margin: 10px;
}

.package h1 {
    color: black;
}

.package h2 {
    color: #979797;
}

.package p {
    color: black;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
}

.package:hover {
    border-color: #ff5454;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
    
}

#plus {
    background-color: rgba(213, 255, 220, 0.95);
}

#free {
    background-color: rgba(234, 252, 237, 0.95);
    margin-left: 45%;
    border-right: none;
    border-left: 3px solid #0e4f1f;
}

#free:hover {
    border-left-color: #ff5454;
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.6);
}

#premium {
    background-color: rgba(14, 79, 31, 0.95);
}

#premium h1 {
    color: azure;
}

#premium h2 {
    color: #bbb;
}